.main {
    margin-top: 100px;
    text-align: center;
}

.img {
    width: 30%;
}

.homeBackground {
    background-color: #D6D6D6;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
}