.navbar-brand {
    font-size: 3.5rem;
}

.nav-link {
    font-size: 2.5rem;
}

.navbar-toggler-icon {
    height: 100px;
    width: 100px;
}

.display-1 {
    font-size: 7rem;
}

.lead {
    font-size: 2.75rem;
}

#landing-page-img {
    width: 100%;
}

.database-icon-element {
    width: 70px;
}

.database-icon-nexomon {
    width: 350px;
}

.table {
    margin: auto;
    width: 80%;
    font-size: 2rem;
}

