.signupBackground {
    background-color: #fc8f6a;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
}

.signup-header {
    margin-top: 100px;
    margin-bottom: 50px;
}

.signup-form-container {
    width: 40%;
    min-width: 275px;
}