.guidesBackground {
    background-color: #f7b7df;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: static;
}

.guidesMain {
    padding-top: 150px;
}

.guide {
    margin-bottom: 50px;
}
